<div class="col-md-6" *ngIf="user">
  <h6>User / User Edit</h6>
  <h2>{{ user.name }} {{ user.surname }}</h2>
</div>
<div class="container">
  <div class="row">
    <ul class="nav nav-tabs">
      <li
        class="nav-item"
        role="presentation"
        [class.active]="viewMode == 'tab1'"
        rel="tab1"
        (click)="viewMode = 'tab1'"
      >
        <a class="nav-link">Logs</a>
      </li>
      <li
        class="nav-item"
        role="presentation"
        [class.active]="viewMode == 'tab2'"
        rel="tab2"
        (click)="viewMode = 'tab2'"
      >
        <a class="nav-link">Permissions</a>
      </li>
    </ul>
  </div>
  <div class="tab-slider--container" [ngSwitch]="viewMode">
    <div id="tab1" class="tab-slider--body" *ngSwitchCase="'tab1'">
      <app-logs-tab></app-logs-tab>
    </div>
    <div id="tab2" class="tab-slider--body" *ngSwitchCase="'tab2'">
      <app-permissions-tab></app-permissions-tab>
    </div>
  </div>
</div>
