:root {
  --bs-red: #dc3545;
  --bs-gray: #6c757d;
  --bs-yellow: #ffc107;
  --bs-blue: #0d6efd;
  --bs-white: #fff;
  --bs-gray: #42545c;
  --bs-dark-gray: #333;
  --bs-light-gray: gray;
  --bs-dark-white: #dbdde0;
  --bs-light-dark: #252629;
  --bs-dark-blue: #325395;
  --bs-black: #000;
}
body {
  overflow-x: hidden;
  fill: #585151;
  stroke-width: 1;
  width: 240px;
}
#dflex {
  width: 240px;

}

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin 0.25s ease-out;
  -moz-transition: margin 0.25s ease-out;
  -o-transition: margin 0.25s ease-out;
  transition: margin 0.25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

#page-content-wrapper {
  /* min-width: 100vw; */
  width: 100%;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }
  .show {
    margin-left: 0 !important;
  }
  .hide {
    margin-left: -15rem !important;
  }
}
@media (max-width: 767px) {
  .show {
    margin-left: -15rem !important;
  }
  .hide {
    margin-left: -0 !important;
  }
}
.day {
  width: 57px;
  height: 15px;
  font-family: Rubik;
  font-size: 14px;
  color: var(--bs-gray);
}
.month {
  width: 156px;
  height: 26px;
  font-family: Rubik;
  font-size: 26px;
  color: var(--bs-light-dark);
  text-decoration: var(--bs-light-dark);
}
.year {
  width: 35px;
  height: 17px;
  font-family: Rubik;
  font-size: 14px;
  color: var(--bs-gray);
}
.date {
  text-align: left;
  margin-left: 30px;
}

.users-menu {
  font-family: "Rubik", sans-serif;
  font-size: 12px;
  color: var(--bs-blue);
  text-decoration: none;
  background-color: var(--bs-dark-white);
  margin-left: 45px;
  list-style: none;
  padding: 0;
}

.nav-item {
  font-family: "Rubik", sans-serif;
  text-decoration: none;
  font-size: 12px;
  margin-left: 30px;
}

.icon {
  margin-right: 10px;
}
