<div id="page-content-wrapper">
  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <button class="btn btn" (click)="toggle()">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          class="bi bi-list"
          viewBox="0 0 16 16"
        >
          <path
            fill-rule="evenodd"
            d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"
          />
        </svg>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent"></div>
    </div>
  </nav>
</div>

<div class="d-flex" id="dflex">
  <div
    class="border-right"
    id="sidebar-wrapper"
    [ngClass]="status ? 'hide' : 'show'"
  >
    <div class="sidebar-heading"></div>
    <div class="list-group list-group-flush">
      <div class="date">
        <p class="day">{{ dateTime | date: "cccc" }}</p>
        <p class="month">{{ dateTime | date: "d MMMM" }}</p>
        <p class="year">{{ dateTime | date: "YYYY" }}</p>
      </div>
      <h6>
        <a class="nav-item">
          <img
            class="icon"
            src="/assets/Icons_warsztat_ico.svg"
            width="16px"
            height="16px"
            alt="x"
          />
          Users</a
        >
      </h6>
      <ul class="users-menu">
        <li>
          <a class="nav-link text-light pl-4 text-dark" routerLink="/userslist">
            <img
              class="icon"
              src="/assets/Icons_active_bullet_ico.svg"
              width="4px"
              height="4px"
              alt="x"
            />
            User List</a
          >
        </li>
        <li>
          <a class="nav-link text-light pl-4 text-dark" routerLink="/useredit">
            <img
              class="icon"
              src="/assets/Icons_active_bullet_ico.svg"
              width="4px"
              height="4px"
              alt="x"
            />User Edit</a
          >
        </li>
        <li>
          <a
            class="nav-link text-light pl-4 text-dark"
            routerLink="/rolesandpermissions"
          >
            <img
              class="icon"
              src="/assets/Icons_active_bullet_ico.svg"
              width="4px"
              height="4px"
              alt="x"
            />Roles and Permissions</a
          >
        </li>
        <li>
          <a class="nav-link text-light pl-4 text-dark" routerLink="/settings">
            <img
              class="icon"
              src="/assets/Icons_active_bullet_ico.svg"
              width="4px"
              height="4px"
              alt="x"
            />Seetings</a
          >
        </li>
      </ul>
    </div>
  </div>
</div>
