
.container{
  font-family: 'Rubik', sans-serif;
}
.btn-edit {
  background-color: var(--bs-blue);
  color: var(--bs-white);
  border-radius: 4px;
  font: 1.5vw;
}
.table {
  width: 100%;
  font-size: 1.5vw;
}
h2 {
  font-size: 2vw;
  text-align: center;
  padding-top: 3vw;
  padding-bottom: 3vw;
}

