<div class="buttons">
  <button type="button" class="delete" (click)="deleteUsers()">DELETE</button>
  <button
    type="button"
    class="block"
    id="block"
    data-bs-toggle="modal"
    (click)="open()"
  >
    BLOCK
  </button>
  <div class="modal fade" tabindex="-1" #sModal id="sModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Block User</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="close"
          ></button>
        </div>
        <div class="modal-body">
          <p>{{ body }}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">
            No
          </button>
          <button type="button" class="btn btn-secondary" (click)="blockUser()">
            Yes
          </button>
        </div>
      </div>
    </div>
  </div>

  <button type="button" class="btn set">SET PASSWORD</button>
  <button type="button" class="btn save" (click)="save()">SAVE</button>
</div>

<div class="container">
  <div class="row">
    <ul class="nav nav-tabs">
      <li
        class="nav-item"
        role="presentation"
        [class.active]="viewMode == 'tab1'"
        rel="tab1"
        (click)="viewMode = 'tab1'"
      >
        <a class="nav-link">Statistic</a>
      </li>
      <li
        class="nav-item"
        role="presentation"
        [class.active]="viewMode == 'tab2'"
        rel="tab2"
        (click)="viewMode = 'tab2'"
      >
        <a class="nav-link">Setings</a>
      </li>
    </ul>
  </div>
  <div class="tab-slider--container" [ngSwitch]="viewMode">
    <div id="tab1" class="tab-slider--body" *ngSwitchCase="'tab1'">
      <form
        [formGroup]="userForm"
        id="userForm"
        (ngSubmit)="save()"
        *ngIf="user"
      >
        <label class="text">Personal Data</label>
        <div class="row" id="rows">
          <div class="form-group col-md-5">
            <label for="name">Name</label>
            <input
              type="text"
              class="form-control"
              id="name"
              formControlName="name"
              [(ngModel)]="user.name"
            />
          </div>
          <div class="form-group col-md-5 photo">

            <img src="assets/Combined Shape.svg" />
            <!-- <input -->
            <!-- class="form-control" -->
            <!-- id="photo" -->
            <!-- formControlName="photo" -->
            <!-- [(ngModel)]="user.photo" -->
            <!-- /> -->
            <div class="p-2 bd-highlight upload">Upload Photo</div>
            <div class="p-2 bd-highlight dragdrop">
              Drag and Drop photo or select from files
            </div>
          </div>
          <div class="form-group col-md-5">
            <label for="lastName">Last Name</label>
            <input
              type="text"
              class="form-control"
              id="surname"
              formControlName="surname"
              [(ngModel)]="user.surname"
            />
          </div>
          <div class="form-group col-md-5">
            <label for="citizenship">Citzenship</label>
            <input
              type="text"
              class="form-control"
              id="citienship"
              formControlName="citizenship"
              [(ngModel)]="user.citizenship"
            />
          </div>
          <div class="form-group col-md-5">
            <label for="birthDate">BirthDate</label>
            <input
              type="text"
              class="form-control"
              id="birthDate"
              formControlName="birthDate"
              [(ngModel)]="user.birthDate"
            />
          </div>

          <hr class="line" />
          <label class="text">Contact Information</label>
          <div class="form-group col-md-5">
            <label for="instagram">Instagram</label>
            <input
              type="text"
              class="form-control"
              id="instagram"
              formControlName="instagram"
              [(ngModel)]="user.instagram"
            />
          </div>
          <div class="form-group col-md-5">
            <label for="facebook">Facebook</label>
            <input
              type="text"
              class="form-control"
              id="facebook"
              formControlName="facebook"
              [(ngModel)]="user.facebook"
            />
          </div>
          <div class="form-group col-md-5">
            <label for="twitter">Twitter</label>
            <input
              type="text"
              class="form-control"
              id="twitter"
              formControlName="twitter"
              [(ngModel)]="user.twitter"
            />
          </div>
          <div class="form-group col-md-5">
            <label for="email">Email</label>
            <input
              type="text"
              class="form-control"
              id="email"
              formControlName="email"
              [(ngModel)]="user.email"
            />
          </div>
        </div>
      </form>
    </div>
    <div id="tab2" class="tab-slider--body" *ngSwitchCase="'tab2'">
      <app-settings></app-settings>
    </div>
  </div>
</div>
