:root {
  --bs-red: #dc3545;
  --bs-gray: #6c757d;
  --bs-yellow: #ffc107;
  --bs-blue: #0d6efd;
  --bs-white: #fff;
  --bs-gray: #42545c;
  --bs-dark-gray: #333;
  --bs-light-gray: gray;
  --bs-dark-white: #dbdde0;
  --bs-light-dark: #252629;
  --bs-dark-blue: #325395;
  --bs-black: #000;
}

.container {
  font-family: "Rubik", sans-serif;
}
.name {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.buttons {
  display: flex;
  justify-content: center;
  gap: 1.4vw;
  padding-top: 28px;
  padding-bottom: 40px;
}

.delete {
  background-color: var(--bs-red);
  color: var(--bs-white);
  width: 97px;
  height: 38px;
  border-radius: 4px;
  border: none;
  font-weight: 600;
}
.block {
  background-color: var(--bs-gray);
  color: var(--bs-white);
  border: none;
  width: 127px;
  height: 38px;
  border-radius: 4px;
  font-weight: 600;
}
.set {
  background-color: var(--bs-yellow);
  color: var(--bs-white);
  border: none;
  width: 161px;
  height: 38px;
  border-radius: 4px;
  font-weight: 600;
}
.save {
  background-color: var(--bs-blue);
  color: var(--bs-white);
  border: none;
  width: 106px;
  height: 38px;
  border-radius: 4px;
  font-weight: 600;
}
.nav-link {
  font-size: 12px;
  color: var(--bs-black);
  text-decoration: var(--bs-black);
}

.text {
  height: 16px;
  font-size: 16px;
  color: #325395;
  text-decoration: rgb(50, 83, 149);
  margin-bottom: 18px;
  margin-top: 28px;
  font-weight: bold;
}
#userForm {
  height: 13px;
  font-size: 11px;
  color: #252629;
  text-decoration: rgb(37, 38, 41);
}
.form-group {
  padding-left: 1.5vw;
  margin-top: 10px;
}
.line {
  margin-top: 20px;
  margin-bottom: -15px;
}
.photo {
  text-align: center;
}
.upload {
  font-size: 12px;
  color: #5e92fc;
  text-decoration: rgb(94, 146, 252);
  font-weight: bold;
}

.dragdrop {
  font-size: 11px;
  color: #9b9fa8;
  text-decoration: rgb(155, 159, 168);
}
