<div class="container">
  <div class="row">
    <div class="col-md-6 roles" *ngIf="user">Role: {{ user.role }}</div>

    <div class="col-md-6" *ngIf="user">
      <h6>Asign Role</h6>
      <form [formGroup]="form" >
        <select
          class="form-select"
          formControlName="role"
          [(ngModel)]="user.role"
        >
          <option *ngFor="let role of roles">
            {{ role.name }}
          </option>
        </select>
      </form>

      <div class="col-sm"></div>
    </div>
    <hr />
    <table class="table">
      <thead>
        <tr class="col">
          <th scope="col" class="col-md-6">Object</th>
          <th scope="col" class="col-md-6">Action</th>
        </tr>
      </thead>
      <tbody [formGroup]="formArray">
        <td class="col-md-6 obj">Movie</td>
        <tr
          formArrayName="objects"
          *ngFor="let obj of objects.controls; let i = index"
          [formGroupName]="i"
        >
          <td class="col-md-6 names">{{ obj.value.name }}</td>
          <td class="col-md-6">
            <button type="button" class="btn btn">Create</button>
            <button type="button" class="btn btn">Read</button>
            <button type="button" class="btn btn">Update</button>
            <button type="button" class="btn btn">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
