<div class="container-fluid" id="container">
  <div class="name">
    <div *ngIf="user">
      <h6>User / User Edit</h6>
      <h2>{{ user.name }} {{ user.surname }}</h2>
    </div>
    <div class="buttons">
      <button type="button" class="delete" id="delete" (click)="deleteUsers()">
        DELETE
      </button>
      <button
        type="button"
        class="block"
        id="block"
        data-bs-toggle="modal"
        (click)="open()"
      >
        BLOCK
      </button>
      <div class="modal fade" tabindex="-1" #sModal id="sModal">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Block User</h5>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="close"
              ></button>
            </div>
            <div class="modal-body">
              <p>{{ body }}</p>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-primary"
                data-dismiss="modal"
              >
                No
              </button>
              <button
                type="button"
                class="btn btn-secondary"
                (click)="blockUser()"
              >
                Yes
              </button>
            </div>
          </div>
        </div>
      </div>
      <button type="button" class="btn button" id="set">SET PASSWORD</button>
      <button type="button" class="save" id="save">SAVE</button>
    </div>
  </div>

  <div class="container">
    <div class="row row-cols-2">
      <div class="col-md-7">
        <nav>
          <ul class="nav nav-tabs">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Logs</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Permissions</a>
            </li>
          </ul>
        </nav>
      </div>

      <div class="col-md-5">
        <nav>
          <ul class="nav nav-tabs">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#"
                >Statisctic</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Setings</a>
            </li>
          </ul>
        </nav>
        <app-tab-right></app-tab-right>
      </div>
    </div>
  </div>

</div>
