h2 {
  color: #5e92fc;
  font-family: 'Rubik', sans-serif;
  font-size: 20px;
  font-weight: lighter;
  padding-top: 15px;
  padding-left: 5px;
}
button{
  background-color: #5e92fc;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  font-size: 1vw;
}
